<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386582828104-vjc0i81eq2skc8sm6aegvv9e6k3jlh64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386582828104-vjc0i81eq2skc8sm6aegvv9e6k3jlh64</string>
	<key>API_KEY</key>
	<string>AIzaSyCiDoINMmvaR55EdrMUKDX5zoTRPyFpQqo</string>
	<key>GCM_SENDER_ID</key>
	<string>386582828104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forat</string>
	<key>PROJECT_ID</key>
	<string>forat-d2ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>forat-d2ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386582828104:ios:8c5b5bc4b88e68ba8fb47d</string>
</dict>
</plist>